@page "/equipmentsPm/new/{CenterId}"
@page "/equipmentsPm/edit/{Id}"

@inject HttpClientX http
@inject IToastService toast
@inject NavigationManager nav

<div class="container">
    @if(pm == null)
    {
        <Loading />
    }
    else
    {
        <EditForm Model="pm" OnValidSubmit="Submit">
            <ObjectGraphDataAnnotationsValidator />
            @if (pm != null)
            {
                @foreach (var dpm in pm.DieselsPM)
                {
                    <DieselPmEdit Pm="dpm" />
                }
                @foreach (var rpm in pm.RectifiersPM)
                {
                    <RectifierPmEdit Pm="rpm"  />
                }
                @foreach (var bpm in pm.BatteriesPM)
                {
                    <BatteryPmEdit Pm="bpm" />
                }
                @foreach (var upm in pm.UpsPM)
                {
                    <UpsPmEdit Pm="upm" />
                }
                <Card Header="اطلاعات عمومی" BackgroundHue="180">
                    <div class="row">
                        <div class="col-lg-3 col-md-4 form-group">
                            <Label For="() => pm.PmDate" />
                            <InputDate @bind-Value="pm.PmDate" class="form-control" />
                        </div>
                        <div class="col-lg-3 col-md-4 form-group">
                            <label class="form-label">امتیاز کلی سلامت مرکز</label>
                            <InputNumber @bind-Value="pm.TotalRate" class="form-control" min="1" max="5" />
                        </div>
                    </div>
                </Card>
            }
            <div class="mt-5">
                <ValidationSummary />
            </div>
            <div class="my-4">
                <input type="submit" value="ذخیره" class="btn btn-primary" />
            </div>
        </EditForm>
    }
</div>

@code {

    [Parameter]
    public string CenterId { get; set; }

    [Parameter]
    public string Id { get; set; }

    CommCenterVM center;
    EquipmentsPM pm;

    protected override async Task OnInitializedAsync()
    {
        if (Id != null)
        {
            pm = await http.GetFromJsonAsync<EquipmentsPM>($"EquipmentsPm/Item/{Id}");
            @*center = await http.GetFromJsonAsync<CommCenterVM>($"CommCenter/Item/{pm.CenterId}");*@
            throw new NotImplementedException();
        }
        else
        {
            pm = await http.GetFromJsonAsync<EquipmentsPM>($"EquipmentsPm/New?centerId={CenterId}");
        }
    }

    private async Task Submit(EditContext context)
    {
        await http.PostAsJsonAsync("EquipmentsPm/Submit", pm);
    }
}
