@page "/reports/equipmentsPotency"

<h3>گزارش توان تجهیزات (Rating)</h3>

<div class="container mt-4">
    @if(data != null)
    {
        <BarChart Data="data" />
    }
</div>

@code {
    private List<BarChart.ChartItem> data;

    protected override void OnInitialized()
    {
        data = new List<BarChart.ChartItem>();
        for (int i = 1; i <= 10; i++)
        {
            data.Add(new BarChart.ChartItem 
            { 
                Text = i.ToString(), Value = i, 
                Color = ColorUtils.GetColorOfPercent(i),
                ClickLink = "/equipmentsPm/view/"+i
            });
        }
    }
}
