@page "/compressor/new/{CenterId}"
@page "/compressor/edit/{Id}"

<EditEquipment @ref="editEquipment" Eq="Compressor" CenterId="@CenterId" Id="@Id" TypeDisplayName="کمپرسور گاز کنترل">
    <div class="row mt-4">
        @if (Model != null)
        {
            <div class="col-lg-3 col-sm-6">
                <div class="form-group">
                    <Label For="() => Model.Name" />
                    <InputText class="form-control" @bind-Value="Model.Name" />
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="form-group">
                    <Label For="() => Model.Brand" />
                    <InputText class="form-control" @bind-Value="Model.Brand" />
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="form-group">
                    <Label For="() => Model.Model" />
                    <InputText class="form-control" @bind-Value="Model.Model" />
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="form-group">
                    <Label For="() => Model.ProductionDate" />
                    <InputDate class="form-control" @bind-Value="Model.ProductionDate" />
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="form-group">
                    <Label For="() => Model.InstallationDate" />
                    <InputDate class="form-control" @bind-Value="Model.InstallationDate" />
                </div>
            </div>
        }
    </div>
</EditEquipment>

@code {
    [Parameter]
    public string CenterId { get; set; }

    [Parameter]
    public string Id { get; set; }

    EditEquipment<Compressor> editEquipment;

    Compressor Model => editEquipment.Model;

}
