@inherits LayoutComponentBase
@using Blazored.Toast
@using Blazored.Toast.Configuration

<NavMenu />
<div class="main">
    <div class="content container-fluid">
        @Body
    </div>
    <BlazoredToasts Timeout="4" ShowProgressBar="true" Position="ToastPosition.BottomRight" />
</div>

@code {

    protected override void OnInitialized()
    {
        base.OnInitialized();
    }
}