@inherits LayoutComponentBase
@inject AuthenticationStateProvider _auth
@inject NavigationManager nav

<NavMenu2 />
<div class="main">
    <div class=" px-4">
        

    </div>

    <div class="content px-4">
        @Body
    </div>
</div>

@code {
    
}