@inherits LayoutComponentBase
@inject AuthenticationStateProvider _auth
@inject NavigationManager nav

<NavMenu />
<div class="main">
    <div class="content container-fluid">
        @Body
    </div>
</div>

@code {
    
}