@inject AuthenticationStateProvider _auth
@inject NavigationManager nav

<nav class="navbar navbar-expand-md navbar-toggleable-lg navbar-dark bg-dark border-bottom">
    <div class="container-fluid flex-wrap">
        <a class="navbar-brand" href="">سامانه ثبت PM مراکز مخابراتی</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse d-lg-inline-flex">
            <ul class="navbar-nav mr-5 w-100 flex-wrap">
                <AuthorizeView>
                    <Authorized>
                        @if (user != null)
                        {
                            @if (user.IsSuperAdmin)
                            {
                                <BSDropdown Class="nav-item">
                                    <BSDropdownToggle Color="Color.Dark" Class="nav-link">داشبورد کشوری</BSDropdownToggle>
                                    <BSDropdownMenu>
                                        <BSDropdownItem Href="Country/ProvinceUseStatus">گزارش کارکرد همکاران استانها</BSDropdownItem>
                                        <BSDropdownItem Href="Country/ProvinceEquipments">گزارش تجهیزات استانها</BSDropdownItem>
                                    </BSDropdownMenu>
                                </BSDropdown>
                            }
                            @if (user.HasPermission(Permission.ChangeCities))
                            {
                                <li class="nav-item">
                                    <NavLink class="nav-link" href="Cities">شهرها</NavLink>
                                </li>
                            }
                            @if (user.HasPermission(Permission.ChangeCenters) || user.HasPermission(Permission.ShowCenters))
                            {
                                <li class="nav-item">
                                    <NavLink class="nav-link" href="Centers">مراکز</NavLink>
                                </li>
                            }
                            <BSDropdown Class="nav-item">
                                <BSDropdownToggle Color="Color.Dark" Class="nav-link">PM تجهیزات مراکز</BSDropdownToggle>
                                <BSDropdownMenu>
                                    @if (user.HasPermission(Permission.WriteEquipmentPM))
                                    {
                                        <BSDropdownItem Href="EditPM">ثبت PM جدید تجهیزات</BSDropdownItem>
                                    }
                                    <BSDropdownItem Href="PMList">لیست PM های تجهیزات</BSDropdownItem>
                                </BSDropdownMenu>
                            </BSDropdown>
                            @if (user.HasPermission(Permission.ShowPMs) || user.HasPermission(Permission.WriteDailyPM))
                            {
                                <BSDropdown Class="nav-item">
                                    <BSDropdownToggle Color="Color.Dark" Class="nav-link">PM روزانه مراکز کم ظرفیت</BSDropdownToggle>
                                    <BSDropdownMenu>
                                        @if (user.HasPermission(Permission.WriteDailyPM))
                                        {
                                            <BSDropdownItem Href="SubmitDailyPM">ثبت PM جدید روزانه</BSDropdownItem>
                                        }
                                        @if (user.HasPermission(Permission.ShowPMs))
                                        {
                                            <BSDropdownItem Href="DailyPMList">لیست PM های روزانه</BSDropdownItem>
                                            <BSDropdownItem Href="CompareDailyPM">مقایسه و بررسی</BSDropdownItem>
                                        }
                                    </BSDropdownMenu>
                                </BSDropdown>
                            }
                            @if(user.HasPermission(Permission.ViewReports))
                            {
                                <BSDropdown Class="nav-item">
                                    <BSDropdownToggle Color="Color.Dark" Class="nav-link">گزارش ها</BSDropdownToggle>
                                    <BSDropdownMenu>
                                        <BSDropdownItem Href="Reports/CentersHealth">درصد سلامت مراکز</BSDropdownItem>
                                        <BSDropdownItem Href="Reports/UnrepairedEquipments">ایرادات رفع نشده</BSDropdownItem>
                                        <BSDropdownItem Href="Reports/EquipmentsPotency">توان تجهیزات (Rating)</BSDropdownItem>
                                        <BSDropdownItem Href="Reports/EquipmentsFeatures">شاخصهای کمی تجهیزات</BSDropdownItem>
                                        <BSDropdownItem Href="Reports/CenterEquipments">آمار مراکز</BSDropdownItem>
                                        <BSDropdownItem Href="Reports/EquipmentsFilter">آمار تجهیزات</BSDropdownItem>
                                        <BSDropdownItem Href="Reports/Logs">لاگ کاربران</BSDropdownItem>
                                    </BSDropdownMenu>
                                </BSDropdown>
                            }
                            @if (user.HasPermission(Permission.ManageUsers))
                            {
                                <li class="nav-item">
                                    <NavLink class="nav-link" href="ManageUsers">مدیریت کاربران</NavLink>
                                </li>
                            }
                            <li class="nav-item mr-auto">
                                <NavLink class="nav-link" href="login" @onclick="Logout">خروج</NavLink>
                            </li>
                        }
                    </Authorized>
                    <NotAuthorized>
                        <li class="nav-item mr-auto">
                            <NavLink class="nav-link" href="login">ورود</NavLink>
                        </li>
                    </NotAuthorized>
                </AuthorizeView>
            </ul>
        </div>
    </div>
</nav>

@code {
    private AuthStateProvider auth;
    private ClientAuthUser user;

    protected override async Task OnInitializedAsync()
    {
        auth = (AuthStateProvider)_auth;
        if (auth != null)
        {
            user = await auth.GetUser();
        }
    }

    private async Task Logout()
    {
        await auth.Logout();
        nav.NavigateTo("login");
    }
}
